@model KreditMotorDomain.Model.ViewModel.RoleViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            var Id = 1;
            foreach (var item in Model.role)
            {
                <tr>
                    <th scope="row">@Id</th>
                    <td>@item.Name</td>
                    <td><a asp-controller="Role" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-default">Edit</a></td>


                </tr>
                Id++;
            }
        }
    </tbody>
</table>
