@model KreditMotorDomain.Model.Motor.ViewModelMotor

@{
    ViewData["Title"] = "Verif";

}


<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Verifikasi</h1>
           
        </div>

        <div class="section-body">

            <div class="row">
                <div class="col-12 mb-4">
                    <div class="hero bg-primary text-white">
                        <div class="hero-inner">
                            <h2>Terima Kasih</h2>
                            <p class="lead">Booking untuk kredit motor berhasil! silahkan tunggu untuk verifikasi selanjutnya.</p>
                            <div class="mt-4">
                                <a asp-controller="Motor" asp-action="Index" class="btn btn-outline-white btn-lg btn-icon icon-left">Kembali</a>
                            </div>
                        </div>
                    </div>
                </div>
       
            </div>

        </div>
    </section>
</div>