@model KreditMotorDomain.Model.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>User Management</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
            
            </tr>
    </thead>
    <tbody>
        @{
            var Id = 1;
            foreach (var item in Model.listUser)
            {
                <tr>
                    <th scope="row">@Id</th>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td><a asp-controller="User" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-default">Edit</a></td>


                </tr>
                Id++;
            }
        }
    </tbody>
</table>

